.body-con{
  /* background:#f4f4f4; */
  background:  linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  border-radius: 10px;
}

.hero-card{
  background: linear-gradient(to right, #ffffff, #ffefba);
  border-radius:25px;
  padding:30px;
  height:320px;
}

.hero-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:100%;
  
}

.arrival{
  color:#c77742;
  font-weight:700;
}

.hero-card h1{
  font-size:40px;
  font-weight:800;
  margin:10px 0;
}

.hero-card p{
  color:#666;
  max-width:350px;
}

.hero-img{
  width:320px;
  height:220px;
  object-fit:contain;
}

.dark-btn{
  background:black;
  color:white;
  border:none;
  padding:12px 30px;
  border-radius:30px;
  margin-top:15px;
}

.offer-card{
  background:#f1d2bf;
  border-radius:25px;
  padding:30px;
  height:320px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.offer-card h2{
  color:white;
  font-weight:800;
  line-height:1.3;
}

.offer-card p{
  color:white;
  margin:20px 0;
}

.light-btn{
  background:white;
  border:none;
  padding:12px 25px;
  border-radius:30px;
  width:max-content;
}

.product-section{
  background:linear-gradient(to right, #ffffff, #ffefba);
  border-radius:25px;
  padding:25px;
}

.heading-row{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.timer{
  background:#ff7a2f;
  color:white;
  padding:8px 15px;
  border-radius:20px;
  font-size:12px;
}

.products-row{
  display:flex;
  gap:20px;
  overflow-x:auto;
  scrollbar-width:none;
}

.products-row::-webkit-scrollbar{
  display:none;
}

.product-card{
  min-width:220px;
  background:white;
  border:1px solid #eee;
  border-radius:20px;
  /* padding:5px; */
  position:relative;
}

.heart{
  position:absolute;
  top:15px;
  right:15px;
  font-size:22px;
}

.product-img{
  width:100%;
  height:200px;
  object-fit:contain;
}

.product-card h5{
  margin-top:10px;
  font-size:16px;
}

.product-card small{
  color:#777;
}

.product-card h4{
  margin-top:10px;
  font-weight:700;
}

@media(max-width:768px){

  .hero-content{
    flex-direction:column;
    text-align:center;
  }

  .hero-card{
    height:auto;
  }

  .offer-card{
    height:auto;
  }

  .hero-card h1{
    font-size:32px;
  }

  .hero-img{
    width:220px;
    margin-top:20px;
  }

  .product-card{
    min-width:180px;
  }
}