
    

.card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.card button{
    border-radius: 30px;
}
.categories-header{
   margin-bottom:50px;
}
.categories-fs{
    font-size: 25px;
    margin-left: 10px;
}
